<!-- NAVBAR -->

<nav class="navbar  navbar-dark bg-dark">
  <!-- <div class="nav" id="nav-container"> -->
    <!-- <div class="nav-container" > -->
      <div> <span>Companies</span></div>
    
        <div  class="d-flex">
         <span class="logo">DM</span>
       </div>
    <!-- </div> -->
  <!-- </div> -->
</nav>

<!-- HOMEPAGE -->

<div class="card" id="company-creator" style="width: 25rem;">
  <div class="mb-3">
    <h2>New Company</h2>
  </div>
  <hr>
  <form>
    <div class="form-group">
      <label for="validationServer01" class="form-label">Name</label>
      <input class="form-control  is-valid" type="text" class="form-control" id="validationServer01" name="name" placeholder="name" [(ngModel)]="name" value="Mark" required>
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1" class="form-label">Address</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" required name="address" placeholder="address" [(ngModel)]="address">

    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1" class="form-label">Phone</label>
      <input type="number" class="form-control" id="exampleFormControlInput1" name="phone" placeholder="phone" [(ngModel)]="phone" required>
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1" class="form-label">Revenue</label>
      <input type="number"  class="form-control" id="exampleFormControlInput1" name="revenue" placeholder="revenue" [(ngModel)]="revenue" required>
    </div>
    <button (click)="addCompany()" type="button" class="btn btn-dark">Add Company</button>
  </form>
  </div>


<div id="emptyCompanies" *ngIf= "companyList.length === 0">The list is Empty!</div>

<tr  *ngFor="let item of companyList">
<div class="card" id="company-list" style="width: 25rem;">
  <div class="mb-3">
    <th scope="row">{{item.name }}</th>
  </div>
  <hr>

<div class="mb-3" >
  <label for="exampleFormControlInput1" class="form-label">Address</label>
  <td>{{item.address}}</td>
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Phone</label>
  <td>{{item.phone}}</td>
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Revenue</label>
  <td>&euro; {{item.revenue}}</td>
</div>
</div>
</tr>




