
.footer-dark {

  }
  



  
  .footer-dark ul a:hover {
    opacity:0.8;
  }
  
   
  .footer-dark {
    /* padding:50px 0; */

    color:#f0f9ff;
    background-color:#282d32;
    box-shadow: 10px 15px 15px 10px rgb(192, 100, 100); 
    
  }
  
  .footer-dark h3 {
    margin-top:0;
    font-weight:bold;
    font-size:16px;
  }


  
  .footer-dark ul a:hover {
    opacity:0.8;
  }
  
  
  
  