<section>

<div class="container">


<p>
    <mat-form-field class="bars" appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput placeholder="Username">
      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
    </mat-form-field>
</p>
<p> 
  <mat-form-field class="bars" appearance="outline">
    <mat-label>Username</mat-label>
    <input matInput placeholder="Username">
    <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
  </mat-form-field>
    
  </p>
</div>
</section>